@import "../../sizing.scss";
@import "../../color.scss";
.Menu-item-card {
  width: 400px;
  height: 160px;
  margin: 20px 20px 20px 0;
  display: flex;
  align-items: flex-start;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  border-radius: $border-radius;
  transition: all;
  transition-duration: 0.5s;

  div:first-child {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    h3 {
      margin: 0;
      font-weight: 500;
    }

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 10px 0;
      color: $text-color;
    }

    span {
      color: $text-color;
    }
  }

  img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: $border-radius;
  }

  &:hover {
    box-shadow: 0px 10px 20px lightgrey;
    cursor: pointer;
  }
}
